<h1>To Do List</h1>
<h2>Add new category</h2>
<hr />
<form action="/categories/new" method="post">
  <label for="category-name">Category name:</label>
  <input id="category-name" name="category-name" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
