<form action="/categories/new" method="post">
  <label for="category-name">Category name</label>
  <input id="category-name" name="category-name" type="text">
  <button type="submit">Add</button>
</form>
